.register{
    
    position: absolute;
    width: 30rem;
    top: 30vh;
    right: 30vw;
    background-color: white;
    border-radius: 5px;
    
    &__title{
        text-align: center;
        padding: 1rem;
    }

}